/ServiciosWeb/nbproject/private/
/ServiciosWeb/build/
/ClienteWebConverTemps/nbproject/private/
/ServWebConverTemps/nbproject/private/
/ServWebConverTemps/build/
/ClienteWebConverTemps/build/
/ClienteJavaConverTemps/build/
/ClienteJavaConverTemps/nbproject/private/
/Servicios/nbproject/private/
/Servicios/build/
/Tema6/nbproject/private/
/Tema6/Tema6-war/nbproject/private/
/Tema6/Tema6-ejb/nbproject/private/
/Tema6/Tema6-ejb/build/
/Tema6/Tema6-ejb/dist/
/Tema6/Tema6-war/build/
/productoMVC/nbproject/private/
/productoMVC/build/
/WebSinRad/nbproject/private/
/SinRad/nbproject/private/
/SinRad/build/
/ServiceWebTempConvert2/nbproject/private/
/ServiceWebTemp2/nbproject/private/
/ServiceWebTemp2/dist/
/ServiceWebTemp2/build/